<p id="notice"><%= notice %></p>

<p>
  <h1><%= @itinerary.name %>
  </h1>
</p>

<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <% @events.each do |event| %>
      <%= render 'events/event', itinerary: @itinerary, event: event %>
      <br>
    <% end %>
  </div>

  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <div class="card-body">
        <span class="card-title">
          <strong>Add an event!</strong>
        </span>
        <%= render 'events/form', itinerary: @itinerary, event: @event %>
      </div>
    </div>
  </div>

</div>

<div class="col-lg-6 offset-lg-3">
  <%= link_to 'Back', root_path %>
</div>
