<%= form_with(model: [itinerary, event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= event_form.label :event_name %>
      <%= event_form.text_field :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= event_form.label :location %>
      <%= event_form.text_field :location, id: :event_location %>
    </div>

    <div class="field">
      <%= event_form.label :journal_entry %>
      <%= event_form.text_area :journal_entry, id: :event_journal_entry %>
    </div>

    <div class="field">
      <%= event_form.label :time_start %>
      <%= event_form.datetime_select :time_start, id: :event_time_start %>
    </div>

    <div class="field">
      <%= event_form.label :time_end %>
      <%= event_form.datetime_select :time_end, id: :event_time_end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
